In [63]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

In [64]:
url="https://www.pilotjobsnetwork.com/jobs/Brussels_Airlines"
tables=pd.read_html(url)

In [65]:
df_salary=tables[3]

In [66]:
df_salary.head(10)

,0,1,2
0,NaN,NaN,NaN
1,Brief Payscale (please state whether before or...,Brief Payscale (please state whether before or...,last update
2,Capt top,12559,24/Oct/19
3,Capt base,7944,24/Oct/19
4,FO top,7417,24/Oct/19
5,FO base,4208,24/Oct/19
6,SO top,NaN,NaN
7,SO base,NaN,NaN
8,FE top,NaN,NaN
9,FE base,NaN,NaN

In [67]:
df_currency=tables[1]
df_currency.head()

,0,1,2,3
0,Pilots' Detailed Payscale- please state whethe...,Pilots' Detailed Payscale- please state whethe...,Pilots' Detailed Payscale- please state whethe...,Pilots' Detailed Payscale- please state whethe...
1,Effective from:,NaN,"Listed pay rates are: (yearly, hourly etc)",NaN
2,Currency:,Euro (click here to use the currency converter),Guaranteed hours: (if applicable),Flat rate hours flown. Avro fleet 620 yearly. ...
3,Addtional notes:,Monthly salary before tax Airbus sector + 10%....,NaN,NaN

In [68]:
df_geography=tables[0]
df_geography.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,Pilots' Detailed Payscale- please state whethe...,Pilots' Detailed Payscale- please state whethe...,Pilots' Detailed Payscale- please state whethe...,Pilots' Detailed Payscale- please state whethe...,Pilots' Detailed Payscale- please state whethe...,Pilots' Detailed Payscale- please state whethe...,Pilots' Detailed Payscale- please state whethe...,Pilots' Detailed Payscale- please state whethe...,Pilots' Detailed Payscale- please state whethe...,Pilots' Detailed Payscale- please state whethe...,...,Pilots' Detailed Payscale- please state whethe...,Pilots' Detailed Payscale- please state whethe...,Pilots' Detailed Payscale- please state whethe...,Pilots' Detailed Payscale- please state whethe...,Pilots' Detailed Payscale- please state whethe...,Pilots' Detailed Payscale- please state whethe...,Pilots' Detailed Payscale- please state whethe...,Pilots' Detailed Payscale- please state whethe...,Pilots' Detailed Payscale- please state whethe...,Pilots' Detailed Payscale- please state whethe...
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Fleet,A32F,A330,A32F,A330,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Rank,F/O,F/O,CPT,CPT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import time

url = "https://www.pilotjobsnetwork.com/jobs/Brussels_Airlines"

driver = webdriver.Firefox()
driver.get(url)

#print(driver.title)
#assert "Immoweb" in driver.title

time.sleep(3)
cookie_button = driver.find_element(By.XPATH, "//*[@id='uc-btn-accept-banner']")
time.sleep(1)
cookie_button.click()
time.sleep(1)


page_urls = []
table_rows = driver.find_elements(By.XPATH, "//tr[@class = 'classified-table__row']")
for table_row in table_rows:
    try:
        tr_header = table_row.find_element(By.XPATH, ".//th")
        tr_data = table_row.find_element(By.XPATH, ".//td")
    except NoSuchElementException:
        pass

    #print(table_row.text)
    print(tr_header.text)
    print(tr_data.text)
    #print(type(tr_data)) #Elément
    #print(type(tr_data.text))

driver.close()

WebDriverException: Message: 'geckodriver' executable needs to be in PATH.